<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="../static/css/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" th:href="@{/css/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
    <script src="../static/js/jquery-3.6.3.min.js"
            th:src="@{/js/jquery-3.6.3.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
    <title>Checkout</title>
</head>
<body>
<div class="container">
    <h2>Checkout Form</h2>

    <form class="form-horizontal" th:object="${checkoutCommand}" th:action="@{/docheckout}" method="post">

        <!-- Validación general con * -->
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{checkoutCommand.hasErrors}">Error Message</p>
        </div>

        <!-- Validación a nivel de campo con Thymeleaf y bootstrap (has-error) -->
        <div class="row mb-2" th:class="${#fields.hasErrors('firstName')} ? 'row mb-2 is-invalid' : 'row mb-2'">
            <label class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <!-- Uso del tag th:errorclass si hay errores -->
                <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid"/>

                <!-- Mostrando cada uno de las validaciones que no se cumplen -->
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-2" th:class="${#fields.hasErrors('lastName')} ? 'row mb-2 is-invalid' : 'row mb-2'">
            <label class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="is-invalid"/>

                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-2" th:class="${#fields.hasErrors('addressLine1')} ? 'row mb-2 is-invalid' : 'row mb-2'">
            <label class="col-sm-2 control-label">Address Line 1:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{addressLine1}" th:errorclass="is-invalid"/>

                <span class="help-block" th:if="${#fields.hasErrors('addressLine1')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 control-label">Address Line 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{addressLine2}"/>
            </div>
        </div>

        <div class="row mb-2" th:class="${#fields.hasErrors('city')} ? 'row mb-2 is-invalid' : 'row mb-2'">
            <label class="col-sm-2 control-label">City:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{city}" th:errorclass="is-invalid"/>

                <span class="help-block" th:if="${#fields.hasErrors('city')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('city')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-2" th:class="${#fields.hasErrors('stateCode')} ? 'row mb-2 is-invalid' : 'row mb-2'">
            <label class="col-sm-2 control-label">State Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{stateCode}" th:errorclass="is-invalid"/>

                <span class="help-block" th:if="${#fields.hasErrors('stateCode')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('stateCode')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="row mb-2" th:class="${#fields.hasErrors('zipCode')} ? 'row mb-2 is-invalid' : 'row mb-2'">
            <label class="col-sm-2 control-label">Zip Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{zipCode}" th:errorclass="is-invalid"/>

                <span class="help-block" th:if="${#fields.hasErrors('zipCode')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('zipCode')}" th:text="${err}"></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>